<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3">
    <xacro:include filename="$(find custom_description)/robots/utils.xacro" />
    <xacro:arg name="arm_id" default="panda" />

    <group name="$(arg arm_id)_gripper">
        <chain base_link="$(arg arm_id)_link0" tip_link="$(arg arm_id)_tcp" />
    </group>
    <group name="$(arg arm_id)_pusher">
        <chain base_link="$(arg arm_id)_link0" tip_link="$(arg arm_id)_tcp2" />
    </group>

    <group_state name="ready" group="$(arg arm_id)_gripper">
        <joint name="$(arg arm_id)_joint1" value="0" />
        <joint name="$(arg arm_id)_joint2" value="${-pi/4}" />
        <joint name="$(arg arm_id)_joint3" value="0" />
        <joint name="$(arg arm_id)_joint4" value="${-3*pi/4}" />
        <joint name="$(arg arm_id)_joint5" value="0" />
        <joint name="$(arg arm_id)_joint6" value="${pi/2}" />
        <joint name="$(arg arm_id)_joint7" value="${pi/4}" />
    </group_state>

    <virtual_joint name="virtual_joint" type="fixed" parent_frame="world" child_link="$(arg arm_id)_link0" />

    <xacro:configure_collisions link="link0" enabled="link5 link6 link7 hand" />
    <xacro:configure_collisions link="link1" enabled="link5 link6 link7 hand" />
    <xacro:configure_collisions link="link2" enabled="link5 link6 link7 hand" />
    <xacro:configure_collisions link="link3" enabled="link7 hand" />
    <xacro:configure_collisions link="link4" enabled="hand"/>
    <xacro:configure_collisions link="link5" />
    <xacro:configure_collisions link="link6" />
    <xacro:configure_collisions link="link7" />
    <xacro:configure_collisions link="hand" />
</robot>